a,
a:focus,
a:hover {
  color: #fff;
}


.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: white;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: black;
  border: .05rem solid white;
}


.mainContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-shadow: 0 0.05rem 0.1rem rgba(0, 0, 0, .5);
}


.cover-container {
  width: 75vw;
}


.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
