.AvatarBlock-root {
    border: none !important;
    border-radius: 20px !important;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.2);
}

.card {
    position: relative !important;
    min-width: calc(300px + 3vw) !important;
    max-width: calc(300px + 3vw)!important;
    margin-bottom: 60px !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.card-title {
    font-size: 30px;
    font-weight: 700;
}

.card-text {
    text-align: left;
    font-size: 20px;
    height: 42px;
    width: 100%; }

.card-text p { width: 650px; word-break: break-word; }

.card-img-top {
    width: 100% !important;
    height: calc(212px + 3vw) !important;
    object-fit: cover;
    border-radius: 20px 20px 0 0 !important;
}