.infoBlock {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 2rem;
    font-weight: bold;
}

.subtitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.text {
    font-size: 1.15rem;
    font-weight: normal;
}

.once {
    font-size: 1.3rem;
    font-style: italic;
}

.blockElement {
    margin-bottom: 10px;
}