.header {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    background-color: #24292e;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
}

.link {
    height: 48px;
    display: flex;
    flex: 0 0 72px;

    margin: 10px;

    justify-content: center;
    align-items: center;

    color: white;
    text-decoration: none !important;

    transition: border-bottom-color 0.3s;
    border-bottom: 2px solid transparent;

&:hover {
        border-bottom: 2px solid rgba(#FD5F00, 0.3);
        color: rgba(#FFFFFF, 0.3);
    }
}

.linkActive {
    border-bottom: 2px solid #FD5F00;
}