dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.direction__item {
    max-width: 75vw !important;
    min-width: calc(200px + 30vw) !important;
    margin-bottom: 13px;
    padding: 16px 22px 10px 40px;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 2px 19px 0 rgba(0,0,0,0.13);
    text-align: left;
    cursor: pointer;
    transition: padding-bottom .3s ease;
}

.direction__item dt {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 52px;
    padding-right: 40px;
    font-family: "circe-regular", sans-serif;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: .28px;
    transition: margin-bottom .3s ease;
}

.direction__item dt:after {
    content: '';
    position: absolute;
    top: 55%;
    right: 10px;
    width: 25px;
    height: 20px;
    -webkit-transform: translateY(-60%) rotate(180deg);
    transform: translateY(-60%) rotate(180deg);
    background: url(icon-tab-arrow-black.svg) no-repeat center;
    background-size: contain;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.direction__item.isOpen dt:after {
    -webkit-transform: translateY(-60%);
    transform: translateY(-60%);
}

.direction__item dd {
    display: block;
    width: 99%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    line-height: 0;
    transition: opacity .3s ease;
}

.direction__text {
    margin-bottom: 25px;
    font-family: "circe-regular", sans-serif;
}

.direction__item.isOpen {
    z-index: 1;
    box-shadow: 0 28px 85px -20px rgba(0,0,0,0.19);
}

.direction__item.isOpen dd {
    height: auto;
    opacity: 1;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.direction__text p {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 30px;
}

.btnAddition {
    font-size: 20px;
    font-weight: 700;
    width: 50%;
    height: 60px;
    border-radius: 20px;
    margin-left: calc(25% - 9px);
}